<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="get">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <p style="color: #ff0000" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label class="sr-only">用户名：</label>
    <input type="text" name="username" class="form-control" placeholder="用户名" required="" autofocus="">
    <label class="sr-only">密码：</label>
    <input type="password" name="password" class="form-control" placeholder="密码" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >登录</button>
</form>
</body>
</html>