<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>打卡时间一览表</title>
</head>
<body>
<h1>打卡时间一览表</h1>
<table border="2" cellpadding="2" cellspacing="0" width="1500px" height="50px">
    <tr>
        <th>编号</th>
        <th>员工号码</th>
        <th>姓名</th>
        <th>开始时间</th>
        <th>结束时间</th>
    </tr>
    <tr th:each="user:${timecardlist}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.empID}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.start}"></td>
        <td th:text="${user.end}"></td>
    </tr>
</table>
<h2>------------------------------------------------------------------------------------------------------</h2>
<h1>打卡时间</h1>
</form>
<form th:action="@{/card}" method="get" id="addForm">
    <script type="text/javascript">
        function check() {
            document.getElementById('addForm').submit();
            alert("申请提交成功")
        }
    </script>
    <table>
        <tr>
            <td>员工号码</td>
            <td>
                <select name="ID">
                    <option value=""></option>
                    <option th:each="emp:${emplist}" th:value="${emp.empID}" th:text="${emp.empID}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>姓名</td>
            <td>
                <select name="min">
                    <option value=""></option>
                    <option th:each="emp:${emplist}" th:value="${emp.name}" th:text="${emp.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>开始时间</td>
            <td><input type="datetime-local" name="start"></td>
        </tr>
        <tr>
            <td>结束时间</td>
            <td><input type="datetime-local" name="end"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="确定" onclick="check()">
</form>
<h2>------------------------------------------------------------------------------------------------------</h2>
<a class="btn btn-sm btm-success" th:href="@{/kanri}"><button>返回</button></a>
</body>
</html>